@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    --brand-color: #154d84;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;

}

/* scroll bar */

*::-webkit-scrollbar {
    height: 7px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #154D84;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #154D84;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #154D84;
  }

/* scroll bar end */


.header {
    background-color: var(--brand-color);
    border-bottom: .5px solid #373434;
}

.navbar {
    padding: 0px 40px 0px 20px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 90px;

}

section {
  height: 100vh;
}

.header a {
    text-decoration: none;
    color: white;


}


.right-nav {
    display: flex;
    width: 330px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.comment-detection {
    position: relative;
    display: flex;
    text-align: center;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    gap: 25px;
}

.comment-detection > input {
    width: 540px;
    height: 40px;
    padding: 10px;
    border: solid 1px #373434;
    font-size: 15px;

    border-radius: 4px;
}

#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main {
    background-color: rgb(255, 255, 250);

}

.main  h1 {
   font-size: 46px; 
   font-weight: 300;
}

.main  h2 {
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.comment-detection #detect {
    width: 200px;
    height: 60px;
    font-size: 1em;
    border: solid 1px #373434;
    background-color: var(--brand-color);
    color: white;
    transition: all 500ms;
    border-radius: 2px;
}



.comment-detection #arrow {
    position: relative;
    top: 8px;
    left: -53px;
    color: white;
    transform: translateX(0px);
    transition: all 500ms;
}



