<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../static/style.css">

    <title>Tox-Ic</title>
</head>
<body>
    <nav>
        <div class="header">
            <ul class="navbar">
                <li><a href="#">Tox-Ic</a></li>
                <ul class="right-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </ul>
        </div>
    </nav>

    <!-- main -->

    <div class="main">
        <div id="cover">
        <div class="comment-detection">
        <h1>Toxic Comment Detection Using Machine Learning</h1>
        <h2>Leveraging machine learning to identify and eliminate toxic comments. Creating a safer and more respectful online environment.</h2>
        <input type="text" name="comment" id="comment" placeholder="Enter the comment">
        <div id="btn-arrow">
        <input id="detect" type="button" value="Detect!">
        <span class="material-symbols-outlined" id="arrow">
            arrow_right_alt
            </span>
        </div>
    </div>
    </div>
     <div class="square-box" id="box"></div>   
    </div>


    <script src="../static/anime.min.js"></script>
    <script src="../static/index.js"></script>


</body>
</html>